# Logs
logs
*.log
*.log.mbtree
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
pnpm-lock.yaml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__pycache__
.ipynb_checkpoints
gradio_cached_examples
*.pt
deep_sort
yolov7
*.mp4
*.tar.gz
examples
anpr-dataset
runs
anpr_weights
anpr_examples_202208
